<div class="flex justify-center  w-full gap-x-7  mt-12">
    <div>
      <div><p class=" text-2xl">Zapatillas</p></div>
      <ul class="flex flex-col mt-5  gap-y-5 text-gray-500 font-bold">
        <li class="hover:text-black cursor-pointer"><a>Zapatillas de running ...</a></li>
        <li class="hover:text-black cursor-pointer"><a>Zapatillas de running ...</a></li>
        <li class="hover:text-black cursor-pointer"><a>Zapatillas Nike P-6000</a></li>
        <li class="hover:text-black cursor-pointer"><a>Nike Initiator</a></li>
      </ul>
    </div>
    <div>
        <div><p class=" text-2xl">Ropa</p></div>
        <ul class="flex flex-col mt-5  gap-y-5  text-gray-500 font-bold">
          <li class="hover:text-black cursor-pointer"><a>Pantalones de yoga</a></li>
          <li class="hover:text-black cursor-pointer"><a>Joggers Tech Fleece</a></li>
          <li class="hover:text-black cursor-pointer"><a>Tech Fleece</a></li>
        </ul>
      </div>
      <div>
        <div><p class=" text-2xl">Niño/a</p></div>
        <ul class="flex flex-col mt-5  gap-y-5  text-gray-500 font-bold">
          <li class="hover:text-black cursor-pointer"><a>Zapatillas negras para ...</a></li>
          <li class="hover:text-black cursor-pointer"><a>Zapatillas negras para ...</a></li>
        </ul>
      </div>
      <div>
        <div><p class=" text-2xl">Destacados</p></div>
        <ul class="flex flex-col mt-5  gap-y-5 text-gray-500 font-bold">
          <li class="hover:text-black cursor-pointer"><a>Equipos de fútbol</a></li>
          <li class="hover:text-black cursor-pointer"><a>Fútbol</a></li>
          <li class="hover:text-black cursor-pointer"><a>Nike Inglaterra</a></li>
          <li class="hover:text-black cursor-pointer"><a>Nike Run Club</a></li>
        </ul>
      </div>
</div>
