<div class="flex flex-col py-10 px-25  gap-y-5">
    <h2 class="text-3xl">Lo mejor y más nuevo</h2>

    <div class="flex justify-around  gap-6">
        <div class="w-1/3">
            <img src="carrousels/carrousel-1-1.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Nike United Pack</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-1-2.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Colección Nike 25.7</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-1-3.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Cosmic Runner</p>
        </div>
    </div>
</div>
<div class="flex flex-col py-10 px-25  gap-y-5">
    <h2 class="text-3xl">Lo mejor y más nuevo</h2>

    <div class="flex justify-around  gap-6">
        <div class="w-1/3">
            <img src="carrousels/carrousel-2-1.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Air Max</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-2-2.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Y2K</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-2-3.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Air Force 1</p>
        </div>
    </div>
</div>
<div class="flex flex-col py-10 px-25  gap-y-5">
    <h2 class="text-3xl">Lo mejor y más nuevo</h2>

    <div class="flex justify-around  gap-6">
        <div class="w-1/3">
            <img src="carrousels/carrousel-3-1.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Nike Pegasus Premium</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-3-2.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Air Jordan 1 Low SE</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-3-3.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Nike Air Max Dn8</p>
        </div>
    </div>
</div>
<div class="flex flex-col py-10 px-25  gap-y-5">
    <h2 class="text-3xl">Lo mejor y más nuevo</h2>

    <div class="flex justify-around  gap-6">
        <div class="w-1/3">
            <img src="carrousels/carrousel-4-1.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Mujer</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-4-2.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Hombre</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-4-3.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Niño/a</p>
        </div>
    </div>
</div>
<div class="flex flex-col py-10 px-25  gap-y-5">
    <h2 class="text-3xl">Lo mejor y más nuevo</h2>

    <div class="flex justify-around  gap-6">
        <div class="w-1/3">
            <img src="carrousels/carrousel-5-1.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Tu acceso exclusivo</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-5-2.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Cómo te damos las gracias</p>
        </div>
        <div class="w-1/3">
            <img src="carrousels/carrousel-5-3.png" class="w-full h-auto shadow-lg">
            <p class="text-2xl mt-4">Muévete como quieras</p>
        </div>
    </div>
</div>